<div class="col-md-12">
  <hr/>
  <h1>{{titulo}}</h1>
  <hr/>
  <div class="identity-data" *ngIf="identity">
    <div class="user-identity alert alert-success" *ngIf="identity.email">
      Bienvenido {{identity.name}}
    </div>
    <div class="user-identity alert alert-danger" *ngIf="identity.status">
      {{identity.data}}
    </div>
  </div>

  <form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-4" action="" method="post">
    <p>
      <label>Correo Electrónico</label>
      <input type="email" #email="ngForm" ngControl="email" class="form-control" required [(ngModel)]="user.email" value=""/>
      <span *ngIf="!email.valid && email.touched">El email es obligatorio</span>
    </p>
    <p>
      <label>Contraseña</label>
      <input type="password" #password="ngForm" class="form-control" required [(ngModel)]="user.password" value="">
      <span *ngIf="!password.valid && password.touched">la contraseña es obligatoria</span>
    </p>
    <input type="submit" name="" value="Entrar" class="btn btn-primary">
  </form>
</div>
