<div class="col-md-12">
  <hr/>
  <h1>{{titulo}}</h1>
  <hr/>

  <div class="alert alert-success" *ngIf="status == 'success'">
    Datos básicos de tu nuevo Video <strong>{{video.title}}</strong> guardados, ahoar añade una imagen y un video!!
  </div>

  <div class="alert alert-danger" *ngIf="status == 'error'">
    Datos básicos no guardados.
  </div>

  <form class="col-md-4" #newVideoForm="ngForm" (ngSubmit)="onSubmit()" *ngIf="status != 'success'">
    <p>Paso 1 de 3. Añade la información básica de tu video</p>
    <p>
      <label for="">Titulo</label>
      <input type="text" class="form-control" #title="ngForm" ngControl="title" [(ngModel)]="video.title" required/>
      <span *ngIf="!title.valid && title.touched">El titulo no es valido</span>
    </p>

    <p>
      <label for="">Descripción</label>
      <textarea class="form-control" #description="ngForm" [(ngModel)]="video.description"></textarea>
      <span *ngIf="!title.valid && title.touched">El titulo no es valido</span>
    </p>

    <p>
      <label for="">Estado</label>
      <select class="form-control" (change)="callVideoStatus(videostatus.value)" #videostatus>
        <option value="public" [attr.selected]="video.status === 'public' ? 'selected' : null">Público</option>
        <option value="private" [attr.selected]="video.status === 'private' ? 'selected' : null">Privado</option>
      </select>
    </p>

    <input type="submit" value="Crear Video" class="btn btn-success"/>
  </form>
</div>
